@import url("https://a.cza.li/f/inter/inter.css");
@import url("https://a.cza.li/f/fira-code-nf/regular.css");
@import url("https://a.cza.li/f/fira-code-nf/medium.css");
@import url("https://a.cza.li/f/fira-code-nf/bold.css");
@import url("https://a.cza.li/f/fa/css/all.css");

* {
    box-sizing: border-box;

    font-family: "Inter", sans-serif;

    transition: all 0.2s ease;

    --bg-r: var(--r-bg-r);
    --bg-g: var(--r-bg-g);
    --bg-b: var(--r-bg-b);
    --bg-a: var(--r-bg-a);
    --fg-r: var(--r-fg-r);
    --fg-g: var(--r-fg-g);
    --fg-b: var(--r-fg-b);
    --fg-a: var(--r-fg-a);
    --ac-r: var(--r-ac-r);
    --ac-g: var(--r-ac-g);
    --ac-b: var(--r-ac-b);
    --ac-a: var(--r-ac-a);

    --btn-bg-r: var(--r-btn-bg-r);
    --btn-bg-g: var(--r-btn-bg-g);
    --btn-bg-b: var(--r-btn-bg-b);
    --btn-bg-a: var(--r-btn-bg-a);
    --btn-h-bg-r: var(--r-btn-h-bg-r);
    --btn-h-bg-g: var(--r-btn-h-bg-g);
    --btn-h-bg-b: var(--r-btn-h-bg-b);
    --btn-h-bg-a: var(--r-btn-h-bg-a);
    --btn-a-bg-r: var(--r-btn-a-bg-r);
    --btn-a-bg-g: var(--r-btn-a-bg-g);
    --btn-a-bg-b: var(--r-btn-a-bg-b);
    --btn-a-bg-a: var(--r-btn-a-bg-a);

    --btn-fg-r: var(--r-btn-fg-r);
    --btn-fg-g: var(--r-btn-fg-g);
    --btn-fg-b: var(--r-btn-fg-b);
    --btn-fg-a: var(--r-btn-fg-a);
    --btn-h-fg-r: var(--r-btn-h-fg-r);
    --btn-h-fg-g: var(--r-btn-h-fg-g);
    --btn-h-fg-b: var(--r-btn-h-fg-b);
    --btn-h-fg-a: var(--r-btn-h-fg-a);
    --btn-a-fg-r: var(--r-btn-a-fg-r);
    --btn-a-fg-g: var(--r-btn-a-fg-g);
    --btn-a-fg-b: var(--r-btn-a-fg-b);
    --btn-a-fg-a: var(--r-btn-a-fg-a);

    --bg: rgba(var(--bg-r), var(--bg-g), var(--bg-b), var(--bg-a));
    --fg: rgba(var(--fg-r), var(--fg-g), var(--fg-b), var(--fg-a));
    --ac: rgba(var(--ac-r), var(--ac-g), var(--ac-b), var(--ac-a));

    --btn-bg: rgba(
        var(--btn-bg-r),
        var(--btn-bg-g),
        var(--btn-bg-b),
        var(--btn-bg-a)
    );
    --btn-fg: rgba(
        var(--btn-fg-r),
        var(--btn-fg-g),
        var(--btn-fg-b),
        var(--btn-fg-a)
    );
    --btn-border-color: rgb(
        calc(var(--btn-bg-r) + 5 * var(--soften-border)),
        calc(var(--btn-bg-g) + 5 * var(--soften-border)),
        calc(var(--btn-bg-b) + 5 * var(--soften-border))
    );
    --btn-border: var(--border-width) solid var(--btn-border-color);

    --btn-h-bg: rgba(
        var(--btn-h-bg-r),
        var(--btn-h-bg-g),
        var(--btn-h-bg-b),
        var(--btn-h-bg-a)
    );
    --btn-h-fg: rgba(
        var(--btn-h-fg-r),
        var(--btn-h-fg-g),
        var(--btn-h-fg-b),
        var(--btn-h-fg-a)
    );
    --btn-h-border-color: rgb(
        calc(var(--btn-h-bg-r) + 5 * var(--soften-border)),
        calc(var(--btn-h-bg-g) + 5 * var(--soften-border)),
        calc(var(--btn-h-bg-b) + 5 * var(--soften-border))
    );
    --btn-h-border: var(--border-width) solid var(--btn-h-border-color);

    --btn-a-bg: rgba(
        var(--btn-a-bg-r),
        var(--btn-a-bg-g),
        var(--btn-a-bg-b),
        var(--btn-a-bg-a)
    );
    --btn-a-fg: rgba(
        var(--btn-a-fg-r),
        var(--btn-a-fg-g),
        var(--btn-a-fg-b),
        var(--btn-a-fg-a)
    );
    --btn-a-border-color: rgb(
        calc(var(--btn-a-bg-r) + 5 * var(--soften-border)),
        calc(var(--btn-a-bg-g) + 5 * var(--soften-border)),
        calc(var(--btn-a-bg-b) + 5 * var(--soften-border))
    );
    --btn-a-border: var(--border-width) solid var(--btn-a-border-color);
}

.button-group {
    display: inline-block;
}

.button-group > *,
button,
input {
    border-radius: var(--border-radius);
    border: var(--btn-border);
    background: var(--btn-bg);
    color: var(--btn-fg);
    padding: 0.6rem;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
}

a[href] {
    color: var(--btn-border-color);
}

.button-group > :not(:disabled):hover,
button:not(:disabled):hover,
input:not(:disabled):hover,
.button-group > :focus-visible,
button:focus-visible,
input:focus-visible,
.button-group > .force-focus,
button.force-focus,
input.force-focus {
    border: var(--btn-h-border);
    background: var(--btn-h-bg);
    color: var(--btn-h-fg);
    outline: var(--btn-h-fg);
}

a[href]:not(:disabled):hover,
a[href]:focus-visible,
a[href].force-focus {
    color: var(--btn-h-border-color);
}

.button-group > :focus-visible,
button:focus-visible,
input:focus-visible,
a:focus-visible {
    box-shadow: 0 0 0 calc(var(--border-width) / 2) var(--bg),
        0 0 0 calc(var(--border-width) * 3 / 2) var(--btn-h-border-color);
}

.button-group > :not(:disabled):active,
button:not(:disabled):active,
input:not(:disabled):active,
.button-group > .active,
button.active,
input.active {
    border: var(--btn-a-border);
    background: var(--btn-a-bg);
    color: var(--btn-a-fg);
}

a[href]:not(:disabled):active,
a[href].active {
    color: var(--btn-a-border-color);
}

.button-group > :not(:first-child),
.button-group > :not(:first-child):hover,
.button-group > :not(:first-child):active {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-group > :not(:last-child),
.button-group > :not(:last-child):hover,
.button-group > :not(:last-child):active {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

* + .button-group > :first-child {
    margin-left: 0.5rem;
}

.button-group.as-tabs {
    height: calc(100% + 0.5rem);
    margin-bottom: -0.5rem;
}
.button-group.as-tabs > *,
.button-group.as-tabs > :hover,
.button-group.as-tabs > :active {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group.as-select > :not(.active) {
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
    transition: max-width 0.2s ease, padding 0.2s ease, border 0.2s ease;
}
.button-group.as-select:not(:hover):not(:focus-within) > :not(.active) {
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    border-right: none;
    border-left: none;
}
.button-group.as-select > .active {
    border-right: var(--btn-a-border);
    border-left: var(--btn-a-border);
}
.button-group.as-select > .active::after,
#collapser::before {
    display: inline-block;

    content: "\f0d7";
    border-radius: var(--border-radius);
    background: rgba(var(--btn-bg-r), var(--btn-bg-g), var(--btn-bg-b), 0.33);

    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: 900;
    text-align: center;

    margin-top: -100%;
    margin-bottom: -100%;

    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;

    transition: transform 0.1s ease;
}

.button-group.as-select > .active::after {
    margin-left: 1ch;
}
#collapser::before {
    margin-right: 1ch;
}

.collapsed #collapser::before,
.button-group.as-select:hover > .active:first-child::after,
.button-group.as-select:focus-within > .active:first-child::after {
    transform: rotate(-90deg);
}
.button-group.as-select:hover > .active:last-child::after,
.button-group.as-select:focus-within > .active:last-child::after {
    transform: rotate(90deg);
}
.button-group.as-select:hover
    > .active:not(:first-child):not(:last-child)::after,
.button-group.as-select:focus-within
    > .active:not(:first-child):not(:last-child)::after {
    content: "\f0dc";
    transform: rotate(90deg);
}

.button-group.as-select:not(:hover):not(:focus-within) > .active {
    background: var(--btn-bg);
    border: var(--btn-border);
    color: var(--btn-fg);

    border-radius: var(--border-radius);
    transition: border-radius 0.1s ease;
}

.error {
    --ac-r: calc(var(--r-ac-g) + var(--r-ac-b) / 3);
    --ac-g: var(--r-ac-r);
    --ac-b: calc(var(--r-ac-b) / 3);

    --btn-bg-r: calc(var(--r-btn-bg-g) + var(--r-btn-bg-b) / 3);
    --btn-bg-g: var(--r-btn-bg-r);
    --btn-bg-b: calc(var(--r-btn-bg-b) / 3);

    --btn-h-bg-r: calc(var(--r-btn-h-bg-g) + var(--r-btn-h-bg-b) / 3);
    --btn-h-bg-g: var(--r-btn-h-bg-r);
    --btn-h-bg-b: calc(var(--r-btn-h-bg-b) / 3);

    --btn-a-bg-r: calc(var(--r-btn-a-bg-g) + var(--r-btn-a-bg-b) / 3);
    --btn-a-bg-g: var(--r-btn-a-bg-r);
    --btn-a-bg-b: calc(var(--r-btn-a-bg-b) / 3);

    --ac: rgba(var(--ac-r), var(--ac-g), var(--ac-b), var(--ac-a));

    --btn-bg: rgba(
        var(--btn-bg-r),
        var(--btn-bg-g),
        var(--btn-bg-b),
        var(--btn-bg-a)
    );
    --btn-fg: rgba(
        var(--btn-fg-r),
        var(--btn-fg-g),
        var(--btn-fg-b),
        var(--btn-fg-a)
    );
    --btn-border: 0.125rem solid
        rgba(
            calc(var(--btn-bg-r) + 5 * var(--soften-border)),
            calc(var(--btn-bg-g) + 5 * var(--soften-border)),
            calc(var(--btn-bg-b) + 5 * var(--soften-border))
        );

    --btn-h-bg: rgba(
        var(--btn-h-bg-r),
        var(--btn-h-bg-g),
        var(--btn-h-bg-b),
        var(--btn-h-bg-a)
    );
    --btn-h-fg: rgba(
        var(--btn-h-fg-r),
        var(--btn-h-fg-g),
        var(--btn-h-fg-b),
        var(--btn-h-fg-a)
    );
    --btn-h-border: 0.125rem solid
        rgba(
            calc(var(--btn-h-bg-r) + 5 * var(--soften-border)),
            calc(var(--btn-h-bg-g) + 5 * var(--soften-border)),
            calc(var(--btn-h-bg-b) + 5 * var(--soften-border))
        );

    --btn-a-bg: rgba(
        var(--btn-a-bg-r),
        var(--btn-a-bg-g),
        var(--btn-a-bg-b),
        var(--btn-a-bg-a)
    );
    --btn-a-fg: rgba(
        var(--btn-a-fg-r),
        var(--btn-a-fg-g),
        var(--btn-a-fg-b),
        var(--btn-a-fg-a)
    );
    --btn-a-border: 0.125rem solid
        rgba(
            calc(var(--btn-a-bg-r) + 5 * var(--soften-border)),
            calc(var(--btn-a-bg-g) + 5 * var(--soften-border)),
            calc(var(--btn-a-bg-b) + 5 * var(--soften-border))
        );
}

button.delete::before {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: 900;
    content: "\f2ed";
    margin-right: 1ch;
}
button.delete:empty::before {
    margin-left: 1ch;
}

button.add::before {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: 900;
    content: "\f067";
    margin-right: 1ch;
}
button.add:empty::before {
    margin-left: 1ch;
}

.sortable-chosen:not(.sortable-ghost) {
    opacity: 0.5;
}

.sortable-ghost {
    border-radius: var(--border-radius);
    background: rgba(
        var(--btn-a-fg-r),
        var(--btn-a-fg-g),
        var(--btn-a-fg-b),
        0.1
    );
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img::before {
    display: inline-block;
    padding: 0.5ch;
}

.fa-theme-auto::before {
    content: var(--theme-symbol);
}

code {
    font-family: "Fira Code", monospace;
    font-size: 100%;
    padding: 0 0.5ch;
    border-radius: var(--border-radius);
    --bg-r: var(--fg-r);
    --bg-g: var(--fg-g);
    --bg-b: var(--fg-b);
    --bg-a: 0.1;
    background: var(--bg);
    white-space: pre;
}
