html {
    height: 100%;
}
body {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

body > main {
    width: 100%;
    margin: 0;
    padding: 1rem calc((100% - min(60rem, calc(100% - 2rem))) / 2 + 1rem);

    flex-grow: 1;
    overflow-y: auto;
}
body > header {
    width: 100%;
    margin: 0;
    padding: 0.75rem calc((100% - min(60rem, calc(100% - 2rem))) / 2 + 1rem);

    background: var(--bg);
    color: var(--fg);
    border-bottom: var(--btn-border);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem 2rem;
    flex-wrap: wrap;

    box-shadow: 0 -1rem 1rem 1rem var(--bg);
}

header section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 0.5rem;
}

header h1 {
    flex-grow: 1;
    display: inline-block;
    margin: 0;
    font-weight: 400;
    color: rgba(var(--fg-r), var(--fg-g), var(--fg-b), 0.5);
}

header > span.unsaved {
    color: rgba(var(--fg-r), var(--fg-g), var(--fg-b), 0.5);
}

header h1 em {
    font-style: normal;
    color: var(--fg);
}

header button {
    width: 3rem;
    height: 3rem;
}

html:not(.unsaved) .unsaved {
    opacity: 0;
    user-select: none;
}

html:not(.no-translate) .toggle-translate,
html:not(.no-translate) .toggle-translate *,
html:not(.light) .switch-theme,
html:not(.light) .switch-theme * {
    --btn-a-bg-r: var(--r-btn-bg-r);
    --btn-a-bg-g: var(--r-btn-bg-g);
    --btn-a-bg-b: var(--r-btn-bg-b);
    --btn-a-bg-a: var(--r-btn-bg-a);
    --btn-h-bg-r: var(--r-btn-h-bg-r);
    --btn-h-bg-g: var(--r-btn-h-bg-g);
    --btn-h-bg-b: var(--r-btn-h-bg-b);
    --btn-h-bg-a: var(--r-btn-h-bg-a);
    --btn-bg-r: var(--r-btn-a-bg-r);
    --btn-bg-g: var(--r-btn-a-bg-g);
    --btn-bg-b: var(--r-btn-a-bg-b);
    --btn-bg-a: var(--r-btn-a-bg-a);

    --btn-a-fg-r: var(--r-btn-fg-r);
    --btn-a-fg-g: var(--r-btn-fg-g);
    --btn-a-fg-b: var(--r-btn-fg-b);
    --btn-a-fg-a: var(--r-btn-fg-a);
    --btn-h-fg-r: var(--r-btn-h-fg-r);
    --btn-h-fg-g: var(--r-btn-h-fg-g);
    --btn-h-fg-b: var(--r-btn-h-fg-b);
    --btn-h-fg-a: var(--r-btn-h-fg-a);
    --btn-fg-r: var(--r-btn-a-fg-r);
    --btn-fg-g: var(--r-btn-a-fg-g);
    --btn-fg-b: var(--r-btn-a-fg-b);
    --btn-fg-a: var(--r-btn-a-fg-a);
}
