@import "./all.css";

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

body {
    margin: 0;
}

:root.no-translate {
    --translation-tab-display: none;
    --translation-width-scale: 0;
}

:root {
    --header-height: 4rem;
    --menu-width: min(30rem, 90vw);
}

:root {
    --light: 1;

    --r-bg-r: 255;
    --r-bg-g: 255;
    --r-bg-b: 255;
    --r-bg-a: 1;

    --r-fg-r: 17;
    --r-fg-g: 17;
    --r-fg-b: 17;
    --r-fg-a: 1;

    --r-ac-r: 43;
    --r-ac-g: 130;
    --r-ac-b: 82;
    --r-ac-a: 1;

    --soften: -10;
    --soften-border: 10;

    --theme-symbol: "\f185";
}

:root:not(.light) {
    --light: 0;

    --r-bg-r: 17;
    --r-bg-g: 17;
    --r-bg-b: 17;

    --r-fg-r: 255;
    --r-fg-g: 255;
    --r-fg-b: 255;

    --r-ac-r: 60;
    --r-ac-g: 179;
    --r-ac-b: 114;

    --soften: 10;
    --soften-border: 0;

    --theme-symbol: "\f186";
}

@media (prefers-color-scheme: light) {
    :root:not(.dark) {
        --light: 1;

        --r-bg-r: 255;
        --r-bg-g: 255;
        --r-bg-b: 255;

        --r-fg-r: 17;
        --r-fg-g: 17;
        --r-fg-b: 17;

        --r-ac-r: 43;
        --r-ac-g: 130;
        --r-ac-b: 82;

        --soften: -10;
        --soften-border: 10;

        --theme-symbol: "\f185";
    }
}

:root {
    --border-radius: 0.25rem;
    --border-width: 0.125rem;

    --r-btn-bg-r: calc(
        (2 * var(--r-ac-r) + 1 * var(--r-ac-g) + 1 * var(--r-ac-b)) / 4
    );
    --r-btn-bg-g: calc(
        (1 * var(--r-ac-r) + 2 * var(--r-ac-g) + 1 * var(--r-ac-b)) / 4
    );
    --r-btn-bg-b: calc(
        (1 * var(--r-ac-r) + 1 * var(--r-ac-g) + 2 * var(--r-ac-b)) / 4
    );
    --r-btn-bg-a: 0.125;
    --r-btn-fg-r: var(--r-fg-r);
    --r-btn-fg-g: var(--r-fg-g);
    --r-btn-fg-b: var(--r-fg-b);
    --r-btn-fg-a: var(--r-fg-a);

    --r-btn-h-bg-r: calc(
        (6 * var(--r-ac-r) + 1 * var(--r-ac-g) + 1 * var(--r-ac-b)) / 8
    );
    --r-btn-h-bg-g: calc(
        (1 * var(--r-ac-r) + 6 * var(--r-ac-g) + 1 * var(--r-ac-b)) / 8
    );
    --r-btn-h-bg-b: calc(
        (1 * var(--r-ac-r) + 1 * var(--r-ac-g) + 6 * var(--r-ac-b)) / 8
    );
    --r-btn-h-bg-a: 0.25;
    --r-btn-h-fg-r: var(--r-fg-r);
    --r-btn-h-fg-g: var(--r-fg-g);
    --r-btn-h-fg-b: var(--r-fg-b);
    --r-btn-h-fg-a: var(--r-fg-a);

    --r-btn-a-bg-r: var(--r-ac-r);
    --r-btn-a-bg-g: var(--r-ac-g);
    --r-btn-a-bg-b: var(--r-ac-b);
    --r-btn-a-bg-a: 0.375;
    --r-btn-a-fg-r: var(--r-fg-r);
    --r-btn-a-fg-g: var(--r-fg-g);
    --r-btn-a-fg-b: var(--r-fg-b);
    --r-btn-a-fg-a: var(--r-fg-a);
}

html {
    background: var(--bg);
    color: var(--fg);
}
